<div class="bar bar-header item-input-inset bar-linked">
    <button class="button button-icon button-clear icon ion-navicon" ng-click="toggleLeft()" style = "margin-top : 7px;">
            <span class="badge badge-assertive icon-badge" style="left: -10px; top: -9px;">2</span>
        </button>
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
    </label>
    <button class="button button-icon button-clear ion-edit" ng-click="toggleLeft()">
    </button>
</div>