<ion-header-bar align-title="center" class="bar bar-header bar-stable header-bar">
<div class="buttons">
    <button class="button button-icon button-clear icon ion-navicon" ng-click="toggleLeft()" style = "margin-top : 16px;">
        <span class="badge badge-assertive icon-badge" style="left: -10px; top: -6px;">2</span>
    </button>
  </div>
  <h1 class="title">
    <label class="item item-input label-search-bar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search..."></h1>
    </label>
  <div class="buttons">
    <button class="button button-clear icon ion-share" style = "margin-top : 13px;"></button>
  </div>
</ion-header-bar>
<ion-content>
    <div class="list">
        <div ng-repeat="playlist in playlists">
            <div class="item item-avatar">
                <img src="img/smiley.png">
                <h2 style="font-weight: bold;font-size: 18px;">Marty McFly</h2>
                <p>Senior Developer</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="https://www.thegioididong.com/images/42/70259/iphone-6-plus-64gb-2-400x534.png">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>


            <div class="item tabs tabs-secondary tabs-icon-left" style="background-color: #F1F3F5;" >
                <a class="tab-item status-control" href="#">
                    <i class="icon ion-thumbsup"></i>
                </a>
                <a class="tab-item status-control" href="#">
                    <i class="icon ion-share"></i>
                </a>
                <a class="tab-item status-control" href="#" style="max-width: 100%;margin-top: 8px;">
                    <label class="item item-input" style="height: 30px;">
                        <i class="icon ion-chatbox placeholder-icon"></i>
                        <input type="search" placeholder="Comment...">
                    </label>
                </a>
            </div>
            <br>
        </div>
    </div>
</ion-content>
