  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <!-- <button class="button button-block button-calm" ng-click="login()">Login</button> -->
      <button class="button button-block button-calm" ng-click="login('facebook')">Login with Facebook</button>

      <!-- Logged-in user text -->
    <div class="card">
      <div class="item item-text-wrap" ng-hide="user">User not logged in</div>
      <div class="item item-text-wrap" ng-show="user" ng-bind="user.displayName"></div>
      <div class="item item-text-wrap" ng-show="user" ng-bind="user.uid"></div>
    </div>
  </ion-content>
